<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>IAAD - Clínicas médicas</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .rect-container {
      display: flex;
      flex-direction: row; 
      align-items: center; 
      justify-content: space-between; 
      height: 12px;
    }
    
    .rect {
      width: 25%; 
      height: 100%; 
    }
    
    .rect-1 {
      background-color: #87CEEB;
    }
    
    .rect-2 {
      background-color: #8FBC8F;
    }
    
    .rect-3 {
      background-color: #FFC0CB;
    }
    
    .rect-4 {
      background-color: #D3D3D3;
    }
    form {
      max-width: 500px;
    }
  </style>
</head>
<body>
  <nav class="navbar" style="background-color: #002241; color: #ffffff; width: 100%;">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">IAAD: Clínicas Médicas</span>
      </div>
    </nav>
    
    <div class="rect-container">
        <div class="rect rect-1"></div>
        <div class="rect rect-2"></div>
        <div class="rect rect-3"></div>
        <div class="rect rect-4"></div>
      </div>
      
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edição</li>
        </ol>
      </nav>
      
    <div class="container mt-5 mb-5">
      <h1 class="text-center">Editar</h1>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group">
              <label for="codigo">Código</label>
              <input type="text" class="form-control" id="codigo" required>
              <div class="invalid-feedback">
                Por favor, informe o código da clínica.
              </div>
            </div>
            <div class="form-group">
              <label for="nome_clinica">Nome da Clínica</label>
              <input type="text" class="form-control" id="nome_clinica" required>
              <div class="invalid-feedback">
                Por favor, informe o nome da clínica.
              </div>
            </div>
            <div class="form-group">
              <label for="endereco">Endereço</label>
              <input type="text" class="form-control" id="endereco" required>
              <div class="invalid-feedback">
                Por favor, informe o endereço da clínica.
              </div>
            </div>
            <div class="form-group">
              <label for="telefone">Telefone</label>
              <input type="text" class="form-control" id="telefone" required>
              <div class="invalid-feedback">
                Por favor, informe o telefone da clínica.
              </div>
            </div>
            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="email" class="form-control" id="email" required>
              <div class="invalid-feedback">
                Por favor, informe o e-mail da clínica.
              </div>
            </div>
            
          </form>
          <div class="d-flex flex-column justify-content-between gap-3 align-items-center btn-group" role="group">
            <button type="submit" class="btn btn-primary btn-block" style="height: 40px;">Salvar</button>
            <button type="submit" class="btn btn-primary btn-block"style="background-color: #ff0000; height: 40px;">Deletar registro</button>
          </div>

        </div>
      </div>
    </div>
  <script>
    function enviarCadastro() {
      var sucesso = true; 
      if (sucesso) {
        alert("Cadastrado com sucesso!");
      } else {
        alert("Houve um erro, verifique as informações digitadas.");
      }
      event.preventDefault();
    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body
