<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>IAAD - Clínicas médicas</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      a {
        color: #ffffff;
      }
      form {
        max-width: 500px;
      }
    </style>
  </head>
  <body
    style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    "
  >
    <nav
      class="row navbar navbar-expand-md"
      style="
        background-color: #002241;
        color: #ffffff;
        width: 100%;
        display: flex;
        justify-content: space-between;
      "
    >
      <a class="navbar-brand" href="/">IAAD</a>
      <div class="collapse navbar-collapse" id="menuCollapse">
        <ul class="d-flex navbar-nav mr-auto" style="display: flex; gap: 1rem">
          <li class="nav-item">
            <a href="/clinicaform" class="">Cadastrar nova clínica</a>
          </li>
          <li class="nav-item">
            <a href="/medicoform" class="">Cadastrar novo médico</a>
          </li>
          <li class="nav-item">
            <a href="/especialidadeform" class=""
              >Cadastrar nova especialidade</a
            >
          </li>
          <li class="nav-item">
            <a href="/clinica_medico_form" class=""
              >Associar médico à clínica</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <nav aria-label="breadcrumb" style="width: 100%;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" style="color: #002241;">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edição</li>
      </ol>
    </nav>

    <div class="container mt-4">
      <div class="container mt-5">
        <h2 class="text-center mb-4">Editar</h2>
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6">
            <form name="Form" id="form" action="/clinicaform/" method="post">
              {% csrf_token %}
              <div class="mb-3">Código da clínica: {{form.cod_cli}}</div>
              <div class="mb-3">Nome da clínica: {{form.nome_cli}}</div>
              <div class="mb-3">Endereço da clínica: {{form.endereco}}</div>
              <div class="mb-3">Telefone da clínica: {{form.telefone}}</div>
              <div class="mb-3">Email da clínica: {{form.email}}</div>
              <div class="text-center">
                <a href="/">
                  <button type="button" class="btn btn-secondary">
                    Voltar
                  </button>
                </a>
                <a href="">
                  <button type="submit" class="btn btn-primary">
                    Salvar edição
                  </button>
                </a>
                <button
                  type="button"
                  class="btn"
                  style="background-color: #ff6c6c; color: #ffffff"
                >
                  Deletar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      function enviarCadastro() {
        var sucesso = true;
        if (sucesso) {
          alert("Cadastrado com sucesso!");
        } else {
          alert("Houve um erro, verifique as informações digitadas.");
        }
        event.preventDefault();
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
