<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Clínicas Médicas</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <style>
      a {
        color: #ffffff;
      }
    </style>
  </head>

  <body
    style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    "
  >
    <nav
      class="row navbar navbar-expand-md"
      style="
        background-color: #002241;
        width: 100%;
        display: flex;
        justify-content: space-between;
      "
    >
      
      <div class="container-fluid">
        <a class="navbar-brand text-uppercase" href="/">Home</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display: flex; gap: 3rem">
          <li class="nav-item text-uppercase">
            <a href="/clinicaform" class="">Nova clínica</a>
          </li>
          <li class="nav-item text-uppercase">
            <a href="/medicoform" class="">Novo médico</a>
          </li>
          <li class="nav-item text-uppercase">
            <a href="/especialidadeform" class=""
              >Nova Especialidade</a
            >
          </li>
          <li class="nav-item text-uppercase">
            <a href="/clinica_medico_form" class=""
              >Associar Médico</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <nav aria-label="breadcrumb" style="width: 100%">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
<!--    clinicas        -->
    <div class="container mt-5 flex-direction row">
      <h2>Clínicas cadastradas</h2>
      <table class="table mt-4">
        <thead>
          <tr>
            <th>Código</th>
            <th>Clínica</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for clinic in clinica %}
          <tr>
            <td>{{clinic.cod_cli}}</td>
            <td>{{clinic.nome_cli}}</td>
            <td>{{clinic.endereco}}</td>
            <td>{{clinic.telefone}}</td>
            <td>{{clinic.email}}</td>
            <td><a href="/edit_clinica/{{clinic.cod_cli}}" style="color: #0067c7">Editar</a></td>
            <td><a href="/delete/{{clinic.cod_cli}}" style="color: #ff0000">Excluir</a></td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
   <!-- Medicos  --> 
    <div class="container mt-5 flex-direction row">
      <h2>Médicos cadastrados</h2>
      <table class="table mt-4">
        <thead>
          <tr>
            <th>Código do Médico</th>
            <th>Nome do Médico</th>
            <th>Genero</th>
            <th>Telefone</th>
            <th>E-mail </th>
            <th>Código de Especialização</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for med  in medico %}
          <tr>
            <td>{{med.cod_med}}</td>
            <td>{{med.nome_med}}</td>
            <td>{{med.genero}}</td>
            <td>{{med.telefone}}</td>
            <td>{{med.email}}</td>
            <td>{{med.cod_espec}}</td>
            <td><a href="/edit_medico/{{medico.cod_med}}/" style="color: #0067c7">Editar</a></td>
            <td><a href="#" style="color: #ff0000">Excluir</a></td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
    <!-- especialidade  -->
    <div class="container mt-5 flex-direction row">
      <h2>Especialidades</h2>
      <table class="table mt-4">
        <thead>
          <tr>
            <th>Código da espec</th>
            <th>Nome_espec</th>
            <th>Descricao</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for esp in especialidade %}
          <tr>
            <td>{{esp.cod_espec}}</td>
            <td>{{esp.nome_espec}}</td>
            <td>{{esp.descricao}}</td>
            <td><a href="/edit" style="color: #0067c7">Editar</a></td>
            <td><a href="#" style="color: #ff0000">Excluir</a></td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
    <!-- Clinica/medico -->
    <div class="container mt-5 flex-direction row">
      <h2>Relação Médico Clínica</h2>
      <table class="table mt-4">
        <thead>
          <tr>
            <th>ID Clínica</th>
            <th>ID Médico</th>
            <th>Data de ingresso</th>
            <th>Carga horária semanal</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for climed in clinicamedico %}
          <tr>
            <td>{{climed.cod_cli}}</td>
            <td>{{climed.cod_med}}</td>
            <td>{{climed.data_ingresso}}</td>
            <td>{{climed.carga_horaria_semanal}}</td>
            <td><a href="/edit" style="color: #0067c7">Editar</a></td>
            <td><a href="#" style="color: #ff0000">Excluir</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
