<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>IAAD - Clínicas médicas</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      a {
        color: #ffffff;
      }
      form {
        max-width: 500px;
      }
    </style>
  </head>
  <body
    style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    "
  >
    <nav
      class="row navbar navbar-expand-md"
      style="
        background-color: #002241;
        width: 100%;
        display: flex;
        justify-content: space-between;
      "
    >
      <div class="container-fluid">
        <a class="navbar-brand text-uppercase" href="/">Home</a>
        <ul
          class="navbar-nav me-auto mb-2 mb-lg-0"
          style="display: flex; gap: 3rem"
        >
          <li class="nav-item text-uppercase">
            <a href="/clinicaform" class="">Nova clínica</a>
          </li>
          <li class="nav-item text-uppercase">
            <a href="/medicoform" class="">Novo médico</a>
          </li>
          <li class="nav-item text-uppercase">
            <a href="/especialidadeform" class="">Nova Especialidade</a>
          </li>
          <li class="nav-item text-uppercase">
            <a href="/clinica_medico_form" class="">Associar Médico</a>
          </li>
        </ul>
      </div>
    </nav>
    <nav aria-label="breadcrumb" style="width: 100%">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/" style="color: #002241">Novo médico</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Edição</li>
      </ol>
    </nav>
    <div class="container mt-4">
      <div class="container mt-5">
        <h2 class="text-center mb-4">Cadastrar novo médico</h2>
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6">
            <form name="Form" id="form" action="{% if db %}/update_medico/{{db.cod_med}}/{%else%}/medicoform/{% endif %}" method="post">
              {% csrf_token %}
              <div class="mb-3">Código do médico: {{form.cod_med}}</div>
              <div class="mb-3">Nome do médico: {{form.nome_med}}</div>
              <div class="mb-3">Gênero: {{form.genero}}</div>
              <div class="mb-3">Telefone: {{form.telefone}}</div>
              <div class="mb-3">Email: {{form.email}}</div>
              <div class="mb-3">
                Código da especialidade: {{form.cod_espec}}
              </div>
              <div class="text-center">
                <a href="/update_medico/{{med.cod_med}}/">
                  <button type="button" class="btn btn-secondary">
                    Voltar
                  </button>
                </a>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      function enviarCadastro() {
        var sucesso = true;
        if (sucesso) {
          alert("Cadastrado com sucesso!");
        } else {
          alert("Houve um erro, verifique as informações digitadas.");
        }
        event.preventDefault();
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
